<div class = "index-list">
    <h1>ユーザー検索</h1>
    <%= search_form_for @q do |f| %>
  <%= f.label :age %>
  <%= f.number_field :age_gteq %>以上〜
  <%= f.number_field :age_lt %>未満

    <%= f.submit "検索" %>
    <% end %>

<% if params[:q].present? && params[:q][:name_cont].present? %>
  Search name: <%= params[:q][:name_cont] %>
<% end %>
  </div>
</div>