<div class = "index-list">
    <h1>ユーザー検索</h1>
    <%= search_form_for @q do |f| %>
  <%= f.label :age %>
  <%= f.number_field :age_gteq %>以上〜
  <%= f.number_field :age_lt %>未満<br />

  <%= f.label :prefecture_id, "都道府県" %>
  <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, include_blank: '選択して下さい' %></br >

  <%= f.label :sex, "性別" %> 
  <span>男性</span>
  <%= radio_button_tag :sex_eq, 0, checked?(@user.sex)  %>
  <span>女性</span>
  <%= radio_button_tag :sex_eq, 1, checked?(@user.sex)   %>

    <%= f.submit "検索" %>
    <% end %>
  </div>
</div>